@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .form-input {
    @apply mt-1 block w-full rounded-md border-gray-400 shadow-sm focus:border-blue-500 focus:ring-blue-500 text-gray-900;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* Add any other global styles here */
